TUYA_ACCESS_ID=your-access-id
TUYA_ACCESS_SECRET=your-access-secret
TUYA_DEVICE_ID=your-device-id
# TUYA_REGION=us
# BIRDCAM_LAT=40.770998606849155
# BIRDCAM_LON=-73.97321317729947
# BIRDCAM_RTSP_URL=rtsp://...
BIRDVISION_API_TOKEN=your-birdvision-api-token
# BIRDVISION_URL=https://birdvision.example.com
